.column {
  float: left;
  width: 33.33%;
  align-items: center;
}

.lobbyhead {
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


